  
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap');

/*variable classes*/

button,button:focus{
    outline: none!important;

}
a {
     color: inherit;
    text-decoration: none;
    list-style: none;
    font-style: unset;
 }

:root {
    --primaryColor: rgb(8, 16, 87) ;
    --color-pri:  rgb(48, 76, 167);
    --color-sec:  #1c6eab;
    --color-third:  rgb(191, 214, 243);
    --black: #222;
    --black2: #555;
    --black3: #5e6163;
    --black4: #000;
    --black5: #212529;
    --blue-sec: rgb(61, 86, 167);
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
    --blue: rgb(56, 10, 223);
}

.color-primary-bg{
    background-color:  rgb(8, 16, 87) ;
}

.font-size-12{
    font-size: 12px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-24{
    font-size: 24px;
}
.font-size-20{
    font-size: 18px;
}
.font-size-30{
    font-size: 30px;
}

.font-baloo{
    font-family: "Baloo Thambi 2",cursive;
}

.font-rale{
    font-family: "Raleway",cursive;
}

.font-rubik{
    font-family: "Rubik",cursive;
}

.center{
    text-align: right;
}
/*color*/
.color-primary{
    color: rgb(8, 16, 87);
}
.color-second{
    color: rgba(30,140,153,0.9);
}

.color-primary-bg{
    background:  rgb(8, 16, 87) ;
}
.color.second{
    color: rgb(128, 163, 209);
}
.color-second-bg{
    background: rgb(255, 255, 255);
}
.color-third-bg{
    background: rgb(61, 86, 167);
}
.color-yellow{
    color: rgba(252, 251, 250, 0.856);
}

.color-yellow-bg{
    background:  rgba(185, 185, 185, 0.562);
}
.color-grey{
    color: #888888;
}
.color-grey2{
    color: rgb(39, 39, 39);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
input {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    color: var(--black);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

img {
    max-width: 100%;
}

h3,
h4 {
    font-weight: 500;
}

/*
======================
Header
======================
*/

.header {
    position: relative;
}

.container {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

/*
======================
Navigation
======================
*/

.navigation {
    position: relative;
    height: 7rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    height: 7rem;
    padding: 0 1rem;
}

.fix__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 1200;
}

.nav__logo a {
    font-size: 2.5rem;
    color: white;
    padding: 1.6rem;
    font-weight: 700;
}

.nav__hamburger {
    display: none;
    cursor: pointer;
}

.nav__hamburger svg {
    height: 2.3rem;
    width: 2.3rem;
}

@media only screen and (max-width: 362px) {

  .nav__hamburger svg {
    margin-left: -0.5rem;
}
.nav__hamburger {
width: 3rem;
}
}


.menu__top {
    display: none;
}

.nav__menu {
    width: 50%;
}

#nav-down{
    height: 5rem;
    box-shadow: 0 5px 5px 0 #ccc;
}
.nav__list {
    display: flex;
    position: relative;
    top: 1px;
    justify-content: space-between;




    margin-inline-start: 15rem;

}

.nav__item:not(:last-child) {
    margin-right: 5rem;
}

.nav__list .nav__link:link,
.nav__list .nav__link:visited {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--black);
    transition: color 0.3s ease-in-out;
}
.nav__list .nav__link:hover {
    color: rgb(128, 163, 209);
}
@media only screen and (max-width: 1202px) {

    .nav__list .nav__link:link,
    .nav__list .nav__link:visited {
        display:flex;
        font-size: 1.3rem;
    }
    #nav-down{
        height: 7rem;
        background-color: #ccc;
    }
}




.nav__icons {
    display: flex;
    position: relative;
}

.nav__icons .icon__item svg {
    width: 2.2rem;
    height: 2.2rem;
}

.nav__icons .icon__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.nav__icons .icon__item:link,
.nav__icons .icon__item:visited {
    color:rgb(61, 86, 167);
}

.nav__icons .icon__item:hover {
    background-color:var(--blue-sec);
    border: 1px solid var(--blue-sec);
}

.nav__icons .icon__item:not(:last-child) {
    margin-right: 1rem;
}



.nav__icons #cart__total {
    font-size: 1rem;
    position: absolute;
    top: 2px;
    right: -6px;
    background-color: var(--blue-sec);
    padding: 0.2rem 0.4rem;
    border-radius: 100%;
    color: white;
}
.search-input{
    height: 35px; width: 400px; border-radius: 20px;

}
.has-search .form-control {
    padding-left: 3.375rem;
    padding-right: 3rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 3.55rem;
    text-align: center;
    pointer-events: none;
    color: grey ;
    padding-left: 1rem;
}

@media only screen and (max-width: 490px) {
    .nav__logo a{
        font-size: 1.8rem;

    }
}
@media only screen and (max-width: 389px) {
    .nav__logo a{
        font-size: 1.5rem;

    }
}
.primary-banner{
    margin-top: 50px;
}

/*
======================
Navigation Media Query
======================
*/
@media only screen and (max-width: 1200px) {
    .primary-banner{
        margin-top: 0px;
    }

    #nav-down{
        height: 0;
    }
    .banner{
      margin-top: 0;
    }
}
@media only screen and (max-width:1200px) {
    .search-input{
        height: 35px; width: 200px; border-radius: 20px;
    }
}

@media only screen and (max-width: 1200px) {

    .nav__menu {
        position: fixed;
        top: 0;
        left: -30rem;
        width: 0;
        background-color: white;
        z-index: 9990;
        height: 100%;
        transition: all 0.5s;
    }

    .nav__menu.open {
        left: 30rem;
        width: 30rem;
    }
    .nav__menu2 {
        position: fixed;
        top: 0;
        left: -30rem;
        width: 0;
        background-color: white;
        z-index: 9990;
        height: 100%;
        transition: all 0.5s;
    }

    .nav__menu2.open {
        left: 0;
        width: 30rem;
    }
    .nav__hamburger {
        display: block;
        background-color: white;
    }

    .menu__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white);
        padding: 1.8rem 1rem;
    }

    .menu__top svg {
        height: 1.6rem;
        width: 1.6rem;
        fill: var(--primaryColor);
    }

    .nav__category {
        color: var(--white);
        font-size: 2.3rem;
        font-weight: 700;
    }

    .nav__list {
        flex-direction: column;
        align-items: start;
        padding: 1.6rem 1rem;
    }

    .nav__item:not(:last-child) {
        margin-right: 0;
    }

    .nav__item {
        width: 100%;
    }
    .nav__list .nav__link:link, .nav__list .nav__link:visited {
        padding: 1.2rem;
        margin-left: -15rem;

        color: var(--black);
    }
    .nav__list .nav__link:link,
    .nav__list .nav__link:visited {
        padding: 1.6rem 0;
        width: 100%;
        color: var(--blue-sec);
    }

    body.active::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background: var(--black) none no-repeat 0 0;
        opacity: 0.7;
        z-index: 999;
        transition: 0.8s;
    }
}

@media only screen and (max-width: 568px) {
    .nav__icons .icon__item svg {
        width: 1.4rem;
        height: 1.4rem;
    }

    .nav__icons .icon__item {
        padding: 0.4rem;
    }
}

.banner{
  margin-top: 5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: #1c6eab;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    color: white;
    margin: 0 1rem;
    opacity: 0;
    transition: opacity 1s ease;
}

.carousel:hover .carousel-control-prev-icon,
.carousel:hover .carousel-control-next-icon {
    opacity: 1;
}

.product-discount{
    color: #151515;
    font-size: 12px;
    letter-spacing: .09px;
    line-height: 15px;
    margin-right: 8px;
    text-decoration: line-through;
}

#product{
    width: 100%;
    height: 55%;
}

#slick-product .product img{
    transition: transform .5s ease;
}

#slick-product .product img:hover{
    transform:scale(1.1);
}

.slick-slider {
    margin-bottom: 4rem;
}

.product__brand {
    font-family: Muli,Arial,sans-serif;
    color: #575756;
    font-size: 10px;
    line-height: 19px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
}
.product-title {
    text-transform: none;
    display: block;
    margin-bottom: 8px;
    overflow: hidden;
    width: 100%;
    font-weight: 400;
    color: #434343;
    height: 40px;
    line-height: 2rem;
}
.price {
    margin-top: 1rem;
    color: #ed5565;
}
.btn-achat-tout{
    background-color: var(--color-pri);
    border-color: white;
    border-radius: 0.5rem;

    position: relative;
    width: 10rem;
    margin-left: 45.5%;
    margin-right: 50.2%;
    top: 0rem;

    border-color: white;
    box-shadow: 0 5px 5px 0 #ccc;

}
@media screen and (max-width: 991px) {
    .btn-achat-tout{

        position: relative;
        width: 100%;
        margin-top: auto;
        margin-left: auto;

    }


}
.card-img-top {
    height: 350px;
}
.card{
    border: none;
    margin: 1rem;
    width: 350px;

}
.card-title {
    margin-bottom: .75rem;
    text-align: center;
    top: 40%;
    position: relative;
    color: white;
    font-weight: 600;
    font-size: 28px;
    color: azure;
    background: rgba(0,0,0,.6);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 7px;
}
.card-text {

    margin: 1rem;
}
@media only screen and (max-width:1200px) {
    .grid-container {
        grid-template-columns: auto ;
    }
    .card{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-img-top {
        height: 500px;
    }

}
@media only screen and (max-width:1200px) {
    .card-img-top {
        height: 350px;
    }
}
@media only screen and (max-width:630px) {
    .grid-container {
        grid-template-columns: auto;
    }
}

    .grid-container > div {
        background-color: white;
        text-align: center;
    }

    /*
=======
footer
=======
*/
.footer{
    background-color: var(--black3);
    padding: 6rem 1rem;
    line-height: 3rem;
}
.footer-top__box span svg{
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--grey3);
}
.footer-top__box span{
    margin-right: 1rem;
}
.footer__top{
    padding-left: 5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: var(--grey3);
}

.footer-top__box a:link,
.footer-top__box a:visited{
    display: block;
    color: white;
    font-size: 1.4rem;
    transition: 0.6s;
}
.footer-top__box a:hover{
    color: var(--color-sec);
}
.footer-top__box div{
    color: white;
    font-size: 1.4rem;
}
.footer-top__box h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 998px){
    .footer__top{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
    }
}
@media only screen and (max-width: 768px){
    .footer__top{
        grid-template-columns: 1fr;
    }
}

/*
======================
NewsLetter
======================
*/

.newsletter {
    padding: 6rem 0;
    border-top: 1px solid var(--primaryColor);
}

.newsletter__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter__data h3 {
    font-size: 2.4rem;
    font-weight: inherit;
    margin-bottom: 1rem;
}

.newsletter__data p {
    font-size: 1.5rem;
    color: var(--black2);
}

.newsletter__email {
    font-size: 1.5rem;
    display: inline-block;
    width: 37rem;
    padding: 1.6rem;
    background-color: rgb(194, 193, 192);
    border: none;
    text-indent: 1rem;
}

.newsletter__email:focus {
    outline: none;
}

.newsletter__link:link,
.newsletter__link:visited {
    display: inline-block;
    padding: 1.5rem 3rem;
    margin-left: -0.5rem;
    background-color: var(--color-pri);
    color: var(--white);
    transition: 0.3s;
}

.newsletter__link:hover {
    background-color: var(--color-sec);
}

@media only screen and (min-width: 998px) {
    .newsletter{
        height: 15rem;
        padding: 3.7rem 4rem;
    }
}
@media only screen and (max-width: 998px) {
    .newsletter {
        padding: 6rem 4rem;
    }

    .newsletter__content {
        flex-direction: column;
        align-items: center;
    }

    .newsletter__email {
        width: 45rem;
    }

    .newsletter__data {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .newsletter__content {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .newsletter__email {
        width: 45rem;
        display: block;
        margin-bottom: 1.6rem;
    }
}

@media only screen and (max-width: 568px) {
    .newsletter__email {
        width: 23rem;
        font-size: 1.2rem;
    }

    .newsletter__data h3 {
        font-size: 1.6rem;
    }

    .newsletter__data p {
        font-size: 1rem;
    }

    .newsletter__link:link,
    .newsletter__link:visited {
        padding: 1.2rem 2rem;
        margin-left: 0;
    }
}

#slick-product .product img{
    height: 250px;
}

.spinner-border {
    width: 4rem;
    height: 4rem;
    margin-top: inherit;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.list_product{
    display:inline-flex;
    justify-content:normal;
    margin-top:2rem;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 7px;
}
@media only screen and (max-width:1200px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width:630px) {
    .grid-container {
        grid-template-columns: auto;
    }
}

    .grid-container > div {
        background-color: white;
        text-align: center;
    }

.product {
    width: 100%;
    height: 450px;
    transition: transform .5s ease;
}
.product:hover{
    border:1rem;
    border-radius:0.5rem;
    border-color:var(--primaryColor);
    transform: scale(1.1);
}

.product img {
     width: 100%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rating {
     color: var(--second-Color);
}

.price {
    margin-top: 1rem;
    color: #ed5565;
}

.price_range {
    margin-left: 2rem;
    margin-top: 2px;
    color:var(--second-Color);

}

.count_product{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.ui.labeled.icon.button{
    background-color: white;
    border: black solid;
}

.ui.dropdown>.text {
    width: 13rem;
    margin-top: 0.55rem;
}